
@{
    ViewBag.Title = "IndexZakaznik";
}

<h2>IndexZakaznik</h2>

<p>

    Nenašli jste Co jste hledali?

    Zašlete nám zdarma poptávku přez náš webový formulář.

    <a href="@Url.Action("Create","Poptavka")" class="btn btn-default pull-right">Poptávkový formulář</a>
    <div class="clearfix"></div>

</p>

