
@{
    ViewBag.Title = "IndexZakaznik";
}

<h2>IndexZakaznik</h2>
<p>
    Nenašli jste, co jste hledali?
</p>

<p>
    Zašlete nám zdarma poptávku přes náš webový formulář.
</p>
<p>
    Nenašli jste, co jste hledali?
    Zašlete nám zdarma poptávku přes náš webový formulář.

    <a href="@Url.Action("Create","Poptavka")" class="btn btn-default pull-right">Poptávkový formulář</a>
    <div class="clearfix"></div>

</p>

