@{
    ViewBag.Title = "Rapap";
}

<h1 class="h1" style="margin-bottom: 60px; margin-top:0;">Rapap s.r.o.</h1>
<h2>Komplexní obalová řešení</h2>
<hr />
<p>Zajistíme Vám ty nejlepší dodavatelské podmínky.</p>
<p style="margin-bottom: 60px;">
    Naše mladá obchodní firma zúročuje více než 20 letou praxi v obalovém průmyslu zakladatele.
    Díky tomu máme přístup k těm nejlepším výrobcům a dodavatelům v Evropě. Kombinací našich zkušeností, vztahů a štíhlému řízení firmy, Vám zaručujeme ty nejlepší podmínky na Českém trhu.
<p>
<h2>Reference</h2>
<hr />
<p>Naši zákazníci jsou profesionálové v každém průmyslu</p>
<ul>
    <li>Dodávky obalových materiálů pro balení strojírenských výrobků</li>
    <li>Dodávky klopových krabic s tiskem pro výrobu transformátorů</li>
    <li>Dodávky lepících pásek do výroby dílů pro automotobilový průmysl</li>
    <li>Dodávky papírových tácků a obalových hmot pro potravinářství</li>
    <li>Dodávky lepenky pro další papírenské zpracování</li>
</ul>
<br />
<br />
<p> Dodáváme do 2-3 týdnů po celé ČR a Evropě</p>
<p>Pronajímáme si externí skladové plochy a prověřené přepravce</p>
<p>Více informací na emailové adrese: <strong><a href="mailto:rapap@rapap.cz">rapap@rapap.cz</a></strong></p>


