/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
body {
    padding-top: 70px;
    min-height: 100%;
}
footer {
    margin-top: auto;
    padding: 30px 0;
    background: #4b4b4b;
    color: #ffffff;
}
/*
 * Off Canvas
 * --------------------------------------------------
 */

.h1 {
    color: #264773 !important;
}

input.input-validation-error {
    background-color: bisque;
}

input.valid {
    background-color: #ccffcc
}
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

}
.menu {
    background-color: #264773;
}
.menu__item {
    
}
.menu__item-a{
    color: #fff !important;
}
.menu__item:hover .menu__item-a{
    text-decoration: underline;
}
.logo{
    max-width: 50px;
}
.navigation-header {
    padding: 5px 0 5px 15px;
}
@media only screen and (min-width: 768px) {
    .container-flex {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .navigation-header{
        padding: 0;
    }
}
.jumbotron{
    background: #fafafa;
    border-radius: 3px !important;
    height: 100%;
}
.btn {
    background: #264773;
    color: #fff;
    padding: 6px 30px;
}
.btn:hover {
    background: #1E385C;
    color: #fff;
}
.well form{
    display: flex;
}