
@{
    ViewBag.Title = "Poptávka";
}

<h2 style="margin-top:0;margin-bottom:40px">Nenašli jste, co jste hledali?</h2>
<p style="margin-bottom: 20px">
    Zašlete nám zdarma poptávku přes náš webový formulář.
</p>
<p>
    <a href="@Url.Action("Create","Poptavka")" class="btn btn-default">Poptat zboží</a>
</p>




