
@{
    ViewBag.Title = "Index";
}

<h1>Poptávky</h1>

<br />
<br />

<p>
    Nenašli jste Co jste hledali?
</p>

<p>
    Zašlete nám zdarma poptávku přez náš webový formulář.
</p>

<br/>
<p>

    <a href="@Url.Action("Create","Poptavka")" class="btn btn-default pull-right">Poptávkový formulář</a>
    <div class="clearfix"></div>

</p>




